.hero {
  height: 100vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}

.hero-left h2 {
  color: black;
  font-size: 26px;
  font-weight: 600;
}

.hero-left p {
  color: var(--font1);
  font-size: 100px;
  font-weight: 700;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-hand-icon img {
  width: 105px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 30px;
  background: #ff4141;
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: black; */
  background-size: cover;
  background-position: center;
  /* margin: 20px 0 0 0; */
}

.hero-right img {
  /* background: brown; */
  max-width: 100%; /* Ensure the image doesn't exceed the div's width */
  max-height: 100%; /* Ensure the image doesn't exceed the div's height */
  width: auto; /* Maintain the image's aspect ratio */
  height: auto;
}
